Answer 1

In [1]:
import pandas as pd
print(pd.__version__)

1.1.4

Annwer 2

In [52]:
import pandas as pd
import numpy as np
arr=np.array([int(item) for item in input().split()])
p=pd.Series(arr)
print(p)

1 2 3 4 5 6 7 8 9
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

Answer 3

In [51]:
import pandas as pd
sal=[(12,"Reenat",23,"Delhi",55000),
     (13,"Zeda",27,"Roorkee",77000),
     (14,"Rayyan",25,"Kolkata",67000),
     (15,"Dheeraj",32,"Delhi",80000)
     ]
df=pd.DataFrame(sal,columns=["ID","Name","Age","City","salary"])


df.reset_index(inplace=True)
print(df)

   index  ID     Name  Age     City  salary
0      0  12   Reenat   23    Delhi   55000
1      1  13     Zeda   27  Roorkee   77000
2      2  14   Rayyan   25  Kolkata   67000
3      3  15  Dheeraj   32    Delhi   80000

Answers 4

In [33]:
import seaborn as sns
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [53]:
print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

Answer 5

In [49]:
mpg["origin"].unique()

array(['usa', 'japan', 'europe'], dtype=object)

Answer 6

In [48]:
print(mpg[mpg["origin"]=="usa"])

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]